* {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    font-family: Verdana;
}

form {
    display: flex;
    height: 500px;
    justify-content: center;
    width: 50%;
    margin: auto;
}

form div.inner {
    margin: auto;
    width: 100%;
}

form div.field {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 20px;
}

form label {
    width: 20%;
    padding: 5px;
    text-align: left;
    font-weight: bold;
}

form input,
form textarea,
form select {
    width: 80%;
    padding: 5px;
    text-align: left;
    font-size: 14px;
}

button {
    margin: auto;
    width: 100%;
    line-height: 24px;
    font-size: 18px;
}

p {
    text-align: center;
    width: 50%;
    font-size: 20px;
    margin: auto;
}

div.message {
    display: flex;
    height: 100%;
}