* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Verdana;
}



nav {
  background-color: #f76c6c;
  color: #fff;
  padding: 15px;
  font: 16px Arial;

}

nav h1,
footer h1 {
  margin: 3px 0;
  font-size: 1.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style-type: none;
}

header {
  background-image: url('images/cat.jpg');
  background-size: cover;
  min-height: 200px;
}

header h1 {
  color: #fff;
  text-align: center;
  font: 2em Arial;
  font-weight: bold;
  padding-top: 30px;
  margin: 0;
}

main {
  background-color: gainsboro;
  text-align: center;
}

section {
  max-width: 65ch;
  margin: auto;
  padding: 20px 0;
}

.art-container {
  display: grid;
  gap: 40px;
  grid-template-columns: 50% 50%;
}

main h2,
main h3 {
  margin: 0;
}

p {
  text-align: justify;
  margin: 0;
}

article {
  padding: 10px 15px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

footer {
  background-color: #f76c6c;
  color: rgb(17, 16, 16);
  padding: 15px;
  font: 16px Arial;
}