* {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  font-family: Verdana;
}



nav {
  background-color: #f76c6c;
  color: #fff;
  padding: 15px;
  font: 16px Arial;

}

nav h1,
footer h1,
header h1 {
  margin: 3px 0;
  font-size: 1.5em;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style-type: none;
}

main {
  background-color: gainsboro;
  text-align: center;
  padding: 50px 20px;
}

main h2,
main h3 {
  margin: 0;
}

p {
  text-align: justify;
  margin: 0;
}

article {
  padding: 10px 15px;
  background-color: aliceblue;
  border: 1px solid #ccc;
  border-radius: 1em;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

section {
  padding: 20px;
}

footer,
header {
  background-color: #f76c6c;
  color: rgb(17, 16, 16);
  font: 16px Arial;
  padding: 15px;
}

.error {
  color: #f76c6c;
}